In [1]:
# Dictionary
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [3]:
# d = {}
# d = {<key>:<value>, <key>:<value>,...}

In [9]:
d = {'a':'Apple','b':"Ball","c":'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [11]:
# d = {}
# d = dict()

In [15]:
d = {'a':'Apple','b':"Ball","c":'Cat'}
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [23]:
d = {'a':'Apple','b':"Ball","c":'Cat','a':'Ant'}
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [25]:
# CRUD

In [27]:
# Create
d = dict()
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [29]:
# In dict there is no + *

In [31]:
a = {1:1,2:4,3:9,4:16,5:25}
b = {6:36,7:49,8:64}
a.update(b)
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [33]:
d = {} #dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone

print(d)

Enter n =  2
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808778765

{'Ram': '9808778765', 'Shyam': '9808778765'}

In [43]:
# Read
a = {'Ram': '9808778765', 'Shyam': '9808778765','Hari':'9808778765'}
print(a)
print(a.values())
print(a.keys())
print(a.items())

{'Ram': '9808778765', 'Shyam': '9808778765', 'Hari': '9808778765'}
dict_values(['9808778765', '9808778765', '9808778765'])
dict_keys(['Ram', 'Shyam', 'Hari'])
dict_items([('Ram', '9808778765'), ('Shyam', '9808778765'), ('Hari', '9808778765')])

In [45]:
for i in a:
    print(i)

Ram
Shyam
Hari

In [47]:
for i in a.values():
    print(i)

9808778765
9808778765
9808778765

In [49]:
for i in a.items():
    print(i)

('Ram', '9808778765')
('Shyam', '9808778765')
('Hari', '9808778765')

In [57]:
# Update
a = {'Ram': '9808778765', 'Shyam': '9808778765','Hari':'9808778765'}
a['Ram'] = '9808000000'
a

{'Ram': '9808000000', 'Shyam': '9808778765', 'Hari': '9808778765'}

In [59]:
# delete
#del pop()

In [67]:
a = {'Ram': '9808778765', 'Shyam': '9808778765','Hari':'9808778765'}
del a['Ram']
print(a)

{'Shyam': '9808778765', 'Hari': '9808778765'}

In [75]:
a = {'Ram': '9808778765', 'Shyam': '9808778765','Hari':'9808778765'}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': '9808778765', 'Hari': '9808778765'}
9808778765

In [77]:
# list inside dict
d = {'Ram':[984567654,9808778765],
    'Shyam':[9845778761,9808778765],
    'Hari':[9849086765,9808778765]}
d

{'Ram': [984567654, 9808778765],
 'Shyam': [9845778761, 9808778765],
 'Hari': [9849086765, 9808778765]}

In [79]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    d[name] = [ntc,ncell]

print(d)

Enter n =  2
Enter name =  Ram
Enter ntc no =  9867887654
Enter ncell no =  9808778765
Enter name =  Shyam
Enter ntc no =  9867667654
Enter ncell no =  9808778765

{'Ram': ['9867887654', '9808778765'], 'Shyam': ['9867667654', '9808778765']}

In [83]:
print(d['Ram'][1])

9808778765

In [85]:
d['Ram'][1] = '9808778764'
d

{'Ram': ['9867887654', '9808778764'], 'Shyam': ['9867667654', '9808778765']}

In [87]:
d = {'name':['Ram','Shyam','Hari'],
    'ntc':['9845667654','9845676654','9867556543'],
    'ncell':['980878765','9808778754','9808667654']}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'ntc': ['9845667654', '9845676654', '9867556543'],
 'ncell': ['980878765', '9808778754', '9808667654']}

In [89]:
d = {'name':[],
    'ntc':[],
    'ncell':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)

print(d)

Enter n =  2
Enter name =  Ram
Enter ntc no =  9867665432
Enter ncell no =  9808778765
Enter name =  Shyam
Enter ntc no =  9867665432
Enter ncell no =  9808778765

{'name': ['Ram', 'Shyam'], 'ntc': ['9867665432', '9867665432'], 'ncell': ['9808778765', '9808778765']}

In [95]:
print(d['name'][0],d['ntc'][0],d['ncell'][0])

Ram 9867665432 9808778765

In [99]:
d['name'].index("Ram")

0

In [105]:
d['name'][0] = 'Rama'
d

{'name': ['Rama', 'Shyam'],
 'ntc': ['9867665432', '9867665432'],
 'ncell': ['9808778765', '9808778765']}

In [107]:
#dict inside list
l = [{'name':'Ram','ntc':'9845667656','ncell':'9808889845'},
    {'name':'Shyam','ntc':'9845667651','ncell':'9808889840'},
    {'name':'Hari','ntc':'9845667652','ncell':'9808889843'}]
l

[{'name': 'Ram', 'ntc': '9845667656', 'ncell': '9808889845'},
 {'name': 'Shyam', 'ntc': '9845667651', 'ncell': '9808889840'},
 {'name': 'Hari', 'ntc': '9845667652', 'ncell': '9808889843'}]

In [111]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    x = {'name':name,'ntc':ntc,'ncell':ncell}
    l.append(x)

Enter n =  2
Enter name =  Ram
Enter ntc no =  9867667654
Enter ncell no =  9808778765
Enter name =  Shyam
Enter ntc no =  9856778765
Enter ncell no =  9808778765

{'name': ['Rama', 'Shyam'], 'ntc': ['9867665432', '9867665432'], 'ncell': ['9808778765', '9808778765']}

In [115]:
print(l)

[{'name': 'Ram', 'ntc': '9867667654', 'ncell': '9808778765'}, {'name': 'Shyam', 'ntc': '9856778765', 'ncell': '9808778765'}]

In [122]:
# dict inside dict
d = {1:{'name': 'Ram', 'ntc': '9867667654', 'ncell': '9808778765'}, 
     2:{'name': 'Shyam', 'ntc': '9856778765', 'ncell': '9808778765'}}
d

{1: {'name': 'Ram', 'ntc': '9867667654', 'ncell': '9808778765'},
 2: {'name': 'Shyam', 'ntc': '9856778765', 'ncell': '9808778765'}}

In [ ]:
1.create dict inside dict
2.Do CRUD operation in
    -dict inside list
    -list inside dict
    -dict inside dict