In [1]:
# file handeling
# file = open('<file_name>','<mode>')
# file.close()

# with open('<file_name>',<'mode'>) as file:
#     <operations>

# modes
# create -> x
# read -> r
# append -> a
# write -> w

In [3]:
file = open('data.txt','x')
file.close()

In [5]:
with open('data1.txt','x') as file:
    print("The file is created")

The file is created

In [9]:
file = open('data1.txt','r')
data = file.read()
print(data)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [15]:
file = open('data2.txt','w')
data = "Hello World"
file.write(data)
file.close()

In [21]:
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Product name = ")
    price = int(input("Enter price"))
    qty = float(input("Enter qty = "))
    total = price * qty
    info = f"{name} {price} {qty} {total}\n"
    bill = bill + info
    all_total = all_total + total

print("Your bill is\n",bill)
print("Your Total\n",all_total)

file = open('data2.txt','w')
file.write("name price qty total\n")
file.write(bill)
file.write(f"{all_total}")
file.close()

Enter n =  2
Product name =  Momo
Enter price 200
Enter qty =  4
Product name =  Coke
Enter price 100
Enter qty =  4

Your bill is
 Momo 200 4.0 800.0
Coke 100 4.0 400.0

Your Total
 1200.0

In [27]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Product name = ")
    price = int(input("Enter price"))
    qty = float(input("Enter qty = "))
    total = price * qty
    info = f"{name} {price} {qty} {total}\n"
    bill = bill + info

print("Your bill is\n",bill)

file = open('bill.txt','a')
file.write("name price qty total\n")
file.write(bill)
file.close()

Enter n =  2
Product name =  Momo
Enter price 150
Enter qty =  3
Product name =  Coke
Enter price 100
Enter qty =  4

Your bill is
 Momo 150 3.0 450.0
Coke 100 4.0 400.0

In [29]:
#csv
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Product name = ")
    price = int(input("Enter price"))
    qty = float(input("Enter qty = "))
    total = price * qty
    info = f"{name},{price},{qty},{total}\n"
    bill = bill + info

print("Your bill is\n",bill)

file = open('bill.csv','w')
file.write("name,price,qty,total\n")
file.write(bill)
file.close()

Enter n =  2
Product name =  Momo
Enter price 200
Enter qty =  3
Product name =  Coke
Enter price 100
Enter qty =  3

Your bill is
 Momo,200,3.0,600.0
Coke,100,3.0,300.0

In [36]:
# list inside list
a = [['name','price','qty','total'],
    ['Momo',200,3.0,600.0],
    ['Coke',100,3.0,300.0]]
a

[['name', 'price', 'qty', 'total'],
 ['Momo', 200, 3.0, 600.0],
 ['Coke', 100, 3.0, 300.0]]

In [38]:
import csv
file = open('list_file.csv','w')
x = csv.writer(file)
x.writerows(a)
file.close()

In [42]:
file = open('list_file.csv','r')
data = file.read()
print(data)
file.close()

name,price,qty,total

Momo,200,3.0,600.0

Coke,100,3.0,300.0

In [44]:
import pandas as pd
df = pd.read_csv('list_file.csv')
df

   name  price  qty  total
0  Momo    200  3.0  600.0
1  Coke    100  3.0  300.0

In [46]:
import csv
file = open('list_file.csv','r')
reader = csv.DictReader(file)
for row in reader:
    print(row)

{'name': 'Momo', 'price': '200', 'qty': '3.0', 'total': '600.0'}
{'name': 'Coke', 'price': '100', 'qty': '3.0', 'total': '300.0'}

In [50]:
import csv
csv_columns = ['Name', 'Age', 'Address']
dict = [
    {'Name':'Aayush','Age':23,'Address':'Katmandu'},
    {'Name':'Shyam','Age':33,'Address':'Patan'}
]

file = open("dict_data.csv", 'w')
writer = csv.DictWriter(file, fieldnames=csv_columns)
writer.writeheader()
for data in dict:
    writer.writerow(data)