In [5]:
a = 10

print(a)

10

In [15]:
a = 10                 #int
b = 10.5               #float
c = 'Hello World'      #str
d = True               #bool

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [23]:
# mathematical operator
# + - * / % ** //

In [37]:
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

13.5
7.5
31.5
3.5
1.5
1157.625
3.0

In [39]:
# string
a = 'Hello '
b = 'World'
c = a+b
print(c)

Hello World

In [43]:
a = 'Hello World\n'
c = a*2
print(c)

Hello World
Hello World

In [45]:
#a = '10'
#a = "10"
#a = """10"""

In [59]:
# bool
a = True
b = True
print(a*b)

1

In [3]:
# data types conversion int() float() str() bool()
a = 10
b = float(a)
print(b)

10.0

In [5]:
a = 10.5
b = int(a)
print(b)

10

In [23]:
a = "10"
b = int(a)
print(b)

10

In [45]:
a = "10.5"
b = float(a)
print(b)

10.5

In [39]:
a = 10
b = bool(a)
print(b)

True

In [47]:
# Io operations
# input()

In [59]:
a = input("Enter a = ")
print(a)
print(type(a))

Enter a =  Ten

Ten
<class 'str'>

In [57]:
a = 10                 #int
b = 10.5               #float
c = 'Hello World'      #str
d = True               #bool

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [69]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a =  10
Enter b =  20

30

In [71]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("The value of i = ",i)

Enter p =  100000
Enter t =  10.5
Enter r =  12.5

The value of i =  131250.0

In [73]:
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))

total = physics + chemistry + math + english + nepali

per = total/5

print("The total marks = ",total)
print("The per = ",per)

Enter physics =  89
Enter chemistry =  90
Enter math =  99
Enter english =  87
Enter nepali =  78

The total marks =  443
The per =  88.6

In [102]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

print("Hello World I am", name, "I am from", add, "I am",age)

Enter name =  Ram
Enter age =  34
Enter add =  Kpteswor, Ward No 32

Hello World I am Ram I am from Kpteswor, Ward No 32 I am 34

In [106]:
info = "Hello World I am " + name + " I am from " + add + " I am " + str(age) + "."
print(info)

Hello World I am Ram I am from Kpteswor, Ward No 32 I am 34.