In [1]:
# Python collections
# List
# Tuple
# Dictionary
# Set

In [3]:
# List
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [5]:
l = list()
l = []
print(type(l))

<class 'list'>

In [11]:
a = [1,2,3,4,5,6,7,8,9,10]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [13]:
print(len(a))
print(len(b))

10
6

In [15]:
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [29]:
# -Indexing
b = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
print(b)
print(b[0])
print(b[-1])
print(b[0:3])
print(b[0:6:2])
print(b[::-1])

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
Apple
Fish
['Apple', 'Ball', 'Cat']
['Apple', 'Cat', 'Fish']
['Fish', 'Dog', 'Cat', 'Ball', 'Apple']

In [31]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
a = [1,2,3,4,5]
print(a*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [47]:
# min() max() sum() sort()
a = [23,34,456,234,546,345,567,7,89,657,456,34,23,243,54,56,34]
print("Min value of a = ",min(a))
print("Max value of a = ",max(a))
print("Sum value of a = ",sum(a))
a.sort()
print("the sorted list a = ",a)

Min value of a =  7
Max value of a =  657
Sum value of a =  3858
the sorted list a =  [7, 23, 23, 34, 34, 34, 54, 56, 89, 234, 243, 345, 456, 456, 546, 567, 657]

In [49]:
a.reverse()
print(a)

[657, 567, 546, 456, 456, 345, 243, 234, 89, 56, 54, 34, 34, 34, 23, 23, 7]

In [55]:
a = ["Ball","apple","Zebra","Cat","Fish"]
a.sort()
print(a)

['Ball', 'Cat', 'Fish', 'Zebra', 'apple']

In [69]:
a = ["Ball","1apple","Zebra","Cat","Fish"]
a.sort()
print(a)

['1apple', 'Ball', 'Cat', 'Fish', 'Zebra']

In [71]:
# CRUD

In [73]:
# Create
# append() insert() extend()
l = []
l.append("Apple")
l.append("Ball")
l.append("Cat")
print(l)

['Apple', 'Ball', 'Cat']

In [77]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    l.append(name)

    print(l)

Enter n =  5
Enter name =  Apple

['Apple']

Enter name =  Ball

['Apple', 'Ball']

Enter name =  Cat

['Apple', 'Ball', 'Cat']

Enter name =  Dog

['Apple', 'Ball', 'Cat', 'Dog']

Enter name =  Egg

['Apple', 'Ball', 'Cat', 'Dog', 'Egg']

In [3]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg']
a.insert(2,'Ant')
print(a)

['Apple', 'Ball', 'Ant', 'Cat', 'Dog', 'Egg']

In [5]:
a = [1,2,3,4,5]
b = [7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 7, 8, 9]

In [7]:
# Read list
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg']
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Egg

In [13]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg']
l = len(a)
for i in range(l):
    print(a[i])

Apple
Ball
Cat
Dog
Egg

In [15]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg']
search = input("Enter value for search = ")
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("There is no such value")

Enter value for search =  Apple

Yes
1

In [19]:
# Update
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg']
a[0] = "Pineapple"
a

['Pineapple', 'Ball', 'Cat', 'Dog', 'Egg']

In [21]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg']
a[0:3] = ['apple','ball','cat']
print(a)

['apple', 'ball', 'cat', 'Dog', 'Egg']

In [27]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg','Ball']
a.index("Ball")

1

In [33]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Egg','Ball']
search = input("Enter search value = ")
l = len(a)
for i in range(l):
    if a[i] == search:
        print(i)

Enter search value =  Ball

1
5

In [35]:
a[1] = 'ball'
a[5] = 'ball'
print(a)

['Apple', 'ball', 'Cat', 'Dog', 'Egg', 'ball']

In [37]:
# delete
# del remove() pop()

In [41]:
a = ['Apple', 'ball', 'Cat', 'Dog', 'Egg', 'ball']
del a[0]
print(a)

['ball', 'Cat', 'Dog', 'Egg', 'ball']

In [43]:
a = ['Apple', 'ball', 'Cat', 'Dog', 'Egg', 'ball']
del a[0:2]
print(a)

['Cat', 'Dog', 'Egg', 'ball']

In [47]:
a = ['Apple', 'ball', 'Cat', 'Dog', 'Egg', 'ball']
del a[0:6:2]
print(a)

['ball', 'Dog', 'ball']

In [5]:
a = ['Apple', 'ball', 'Cat', 'Dog', 'Egg', 'ball']
a.remove('Apple')
print(a)

['ball', 'Cat', 'Dog', 'Egg', 'ball']

In [15]:
a = ['Apple', 'ball', 'Cat', 'Dog', 'Egg', 'ball']
c = a.count('ball')
for i in range(c):
    a.remove('ball')
print(a)

['Apple', 'Cat', 'Dog', 'Egg']

In [17]:
# nested list
a = [['Ram',34,"Kathmandu"],
    ['Shyam',78,"Bhaktapur"],
    ['Hari',20,"Lalitpur"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur'], ['Hari', 20, 'Lalitpur']]

In [23]:
print(type(a))
print(len(a))

<class 'list'>
3

In [27]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])

print(info)

Enter n =  3
Enter name =  Ram
Enter age =  34
Enter add =  Kathmandu
Enter name =  Shyam
Enter age =  22
Enter add =  Bhaktapur
Enter name =  Lalitpur
Enter age =  56
Enter add =  Patan

[['Ram', 34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Lalitpur', 56, 'Patan']]

In [31]:
print(info[0])
print(info[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [47]:
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 22, 'Bhaktapur'], 
     ['Ram', 56, 'Patan']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name =  Ram

['Ram', 34, 'Kathmandu']
['Ram', 56, 'Patan']

In [51]:
#delete
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]
del a[0]
a

[['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]

In [53]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]
a.remove(['Ram', 34, 'Kathmandu'])
a

[['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]

In [55]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]
a.pop(0)
print(a)

[['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]

In [66]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]
del a[0][0]
a

[[34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]

In [70]:
# remove value of Ram
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 22, 'Bhaktapur'], 
     ['Ram', 56, 'Patan']]
name = input("Enter name = ")
for i in a:
    if name in i:
        a.remove(i)

print(a)

Enter name =  Ram

[['Shyam', 22, 'Bhaktapur']]

In [82]:
#Update
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 22, 'Bhaktapur'], 
     ['Hari', 56, 'Patan']]
a[0][0]  = "Rama"
a

[['Rama', 34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Hari', 56, 'Patan']]

In [84]:
#Update same values in different list
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 22, 'Bhaktapur'], 
     ['Ram', 56, 'Patan']]

name = input("Enter name for search = ")
for i in a:
    if name in i:
        i[0] = "Ram Prasad"
print(a)

Enter name for search =  Ram

[['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 22, 'Bhaktapur'], ['Ram Prasad', 56, 'Patan']]

In [90]:
# data having age > 30
#Update same values in different list
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 22, 'Bhaktapur'], 
     ['Ram', 56, 'Patan']]

age = int(input("Enter age for search = "))
for i in a:
    if i[1] >= age:
        print(i)

Enter age for search =  30

['Ram', 34, 'Kathmandu']
['Ram', 56, 'Patan']

In [94]:
a = "Ram 9867667654\nShyam 9808667654\nHari 9809556543"
print(a)

Ram 9867667654
Shyam 9808667654
Hari 9809556543

In [96]:
# split()
a.split("\n")

['Ram 9867667654', 'Shyam 9808667654', 'Hari 9809556543']

In [102]:
a = "Ram 9867667654\nShyam 9808667654\nHari 9809556543"
b = a.split("\n")
for i in b:
    print(i.split())

['Ram', '9867667654']
['Shyam', '9808667654']
['Hari', '9809556543']

In [112]:
l = []
a = "Ram 9867667654\nShyam 9808667654\nHari 9809556543"
b = a.split("\n")
for i in b:
    l.append(i.split())
l

[['Ram', '9867667654'], ['Shyam', '9808667654'], ['Hari', '9809556543']]