In [1]:
# loop
# for loop
# while loop

In [3]:
# for loop
# range(5)          # 0,1,2,3,4
# range(1,5)        # 1,2,3,4
# range(1,5,2)      # 1,3

In [13]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [15]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [17]:
for i in range(0,5,2):
    print(i,"Hello World")

0 Hello World
2 Hello World
4 Hello World

In [25]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x,"*",i,"=",i*x)

Enter x =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    print(s)

Enter n =  6
Enter x =  1000

1000

Enter x =  2000

3000

Enter x =  2000

5000

Enter x =  6000

11000

Enter x =  3000

14000

Enter x =  1000

15000

In [3]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s*1.1 + x
    print(s)

Enter n =  6
Enter x =  10000

10000.0

Enter x =  10000

21000.0

Enter x =  10000

33100.0

Enter x =  10000

46410.0

Enter x =  10000

61051.00000000001

Enter x =  10000

77156.10000000002

In [11]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name +"--"+ phone +"\n"
    
print(s)

Enter n =  3
Enter name =  ram
Enter phone =  9878778765
Enter name =  Shyam
Enter phone =  9808778765
Enter name =  Hari
Enter phone =  9808778765

ram--9878778765
Shyam--9808778765
Hari--9808778765

In [13]:
# 5  1+2+3+4+5
# 5! 1*2*3*4*5

In [17]:
s = 0
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s+i

print(s)

Enter n =  5

15

In [19]:
s = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s*i

print(s)

Enter n =  5

120

In [33]:
for i in range(5):
    print(i*'o')

o
oo
ooo
oooo

In [35]:
for i in range(5):
    print((5-i)*" ",(2*i-1)*'o')

     o
    ooo
   ooooo
  ooooooo

In [45]:
for i in range(5):
    print((5-i)*" ",(2*i-1)*'o')
for i in range(4):
    print(" "*3,2 * "*")

     o
    ooo
   ooooo
  ooooooo
    **
    **
    **
    **

In [49]:
# Control statements
#break
#continue

In [51]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [53]:
for i in range(10):
    if i == 5:
        continue    
    print(i)

0
1
2
3
4
6
7
8
9

In [55]:
for i in range(1,21):
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [1]:
# WAP to detect if the given no is prime or composite

In [3]:
# # While
# while <condition>:
#     <operatons>

In [9]:
i = 0
while i<5:
    print(i,"Hello World")
    i = i + 1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [19]:
i = 0
while i <= 5:
    print(i,"Hello World")
    i = i+2

0 Hello World
2 Hello World
4 Hello World

In [13]:
i = 1
x = int(input("Enter x = "))
while i<=10:
    print(x,"*",i,"=",i*x)
    i = i + 1

Enter x =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [21]:
i = 0
s = 0
n = int(input("Enter n = "))
while i < n:
    x = int(input("Enter x = "))
    s = s + x
    i = i+1
    
print(s)

Enter n =  3
Enter x =  342

342

Enter x =  54

396

Enter x =  34

430

In [23]:
i = 0
s = ""
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name +"--"+ phone +"\n"
    i = i + 1
print(s)

Enter n =  3
Enter name =  Ram
Enter phone =  9808667865
Enter name =  Shyam
Enter phone =  9808778765
Enter name =  Hari
Enter phone =  9808564534

Ram--9808667865
Shyam--9808778765
Hari--9808564534

In [25]:
i = 1
s = 0
n = int(input("Enter n = "))
while i<=n:
    s = s+i
    i = i+1
print(s)

Enter n =  5

15

In [27]:
i = 0
while i<=10:
    if i == 5:
        break
    print(i)
    i = i + 1

0
1
2
3
4

In [1]:
i = 0
while i<=10:
    if i == 5:
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
3
4
6
7
8
9
10

In [9]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [11]:
i = 5
while i>0:
    print(i)
    i = i - 1

5
4
3
2
1

In [13]:
# prime => 2,3,5,7,11,13,15
# composite => 4,6,8,9,10,12

In [15]:
# for else loop

In [31]:
n = int(input("Enter n = "))
for i in range(2,n):
    if n%i==0:
        print("This is composite no")
        break

else:
    print("This is prime no")

Enter n =  9

This is composite no
This is prime no