In [1]:
# set
# -No indexing
# -Unordered
# -Multiple but no duplicate value
# -Mutable

In [5]:
s = {1,2,3,4,5,6,7,8}
print(type(s))

<class 'set'>

In [9]:
s = {"Apple","Ball","Cat","Dog","Fish","Apple"}
print(s)

{'Fish', 'Dog', 'Ball', 'Cat', 'Apple'}

In [11]:
#In set there is no + *
# No append() insert() extend()
# No Edit
# No sort()

In [1]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s.add("Dog")
print(s)

{'Cat', 'Apple', 'Dog', 'Ball'}

In [3]:
s = {'Cat', 'Apple', 'Dog', 'Ball'}
s.remove("Apple")
print(s)

{'Cat', 'Dog', 'Ball'}

In [9]:
a = ['Cat','Cat', 'Apple', 'Ball','Cat','Dog', 'Ball']
b = set(a)
a = list(b)
a

['Cat', 'Apple', 'Dog', 'Ball']

In [19]:
U = {'Avash', 'Sita', 'Sam', 'Steave', 'Ram','xyz','abc', 'Akash', 'Satya', 'Harry', 'William', 'Bill', 'Nabina'}
ms = {"Ram","Satya","Bill","Sam","Harry","Akash","Sita"}
apple = {"Steave","William","Sam","Akash","Avash","Nabina"}

print("Working on both company",ms.intersection(apple))
print("Working on merged company",ms.union(apple))

Working on both company {'Akash', 'Sam'}
Working on merged company {'Avash', 'Sita', 'Sam', 'Steave', 'Ram', 'Akash', 'Satya', 'Harry', 'William', 'Bill', 'Nabina'}

In [21]:
print("Working only on ms",ms.difference(apple))
print("Working only on apple",apple.difference(ms))

Working only on ms {'Sita', 'Ram', 'Satya', 'Harry', 'Bill'}
Working only on apple {'Avash', 'Nabina', 'Steave', 'William'}

In [25]:
print("People who are unemployed are ",U.difference(ms.union(apple)))

People who are unemployed are  {'xyz', 'abc'}

In [27]:
# inside set there is no mutable datatype

In [29]:
s = {"Apple",1,1.5,}
s

{1, 1.5, 'Apple'}

In [31]:
#No list inside set
s = {["Apple","Cat"]}
s

TypeError: unhashable type: 'list'

In [33]:
# No set inside set
s = {{1,2,3},{4,5,6}}
s

TypeError: unhashable type: 'set'

In [35]:
# But we can use tuple inside set
s = {(1,2,3),(4,5,6)}
s

{(1, 2, 3), (4, 5, 6)}