In [1]:
a = 'Hello World'
b = "Hello World"
c = """Hello World"""
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a = 'Hello'
b = 'World'
c = a+b
print(c)

HelloWorld

In [7]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [19]:
a = 'Hello World'
print(a[2])
print(a[-1])
print(a[0:5])
print(a[5:])

l
d
Hello
 World

In [29]:
a = 'Hello World'
a[0:11:2]

'HloWrd'

In [41]:
a = 'Hello World'
a[::-1]

'dlroW olleH'

In [45]:
a = input("Enter a = ")
b = a[::-1]
if a ==b:
    print("The no is Palinddrome")
else:
    print("The no is Palinddrome")

Enter a =  100

The no is Palinddrome

In [49]:
#string concatination
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name =  Ram
Enter age =  34
Enter add =  Kathmandu

Hello World I am Ram I am from Kathmandu I am 34

In [53]:
#String formatting
info = f"Hello World I am {name}. I am from {add}. I am {age}."
print(info)

Hello World I am Ram. I am from Kathmandu. I am 34.

In [55]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone no = "))
    info = f"{name} {phone}\n"
    s = s + info

print(s)

Enter n =  2
Enter name =  Ram
Enter phone no =  9808667654
Enter name =  Shyam
Enter phone no =  9808556543

Ram 9808667654
Shyam 9808556543

In [61]:
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Product name = ")
    price = int(input("Enter price"))
    qty = float(input("Enter qty = "))
    total = price * qty
    info = f"{name} {price} {qty} {total}\n"
    bill = bill + info
    all_total = all_total + total

print("Your bill is\n",bill)
print("Your Total\n",all_total)

Enter n =  2
Product name =  Momo
Enter price 200
Enter qty =  4
Product name =  Coke
Enter price 2
Enter qty =  4

Your bill is
 Momo 200 4.0 800.0
Coke 2 4.0 8.0

Your Total
 808.0

In [1]:
# WAP to create a result management system
# name, physics, che, math english nepali = ?
# total
# per grade

# put all this in string

In [1]:
result = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    total = physics + chemistry + math + english + nepali
    per = total/5
    
    if physics >= 45 and chemistry >= 45 and math >= 45 and english >= 45 and nepali >=45:
        if per >= 80:
            grade = 'A'
        elif per >= 60:
            grade = 'B'
        elif per >= 45:
            grade = 'C'
    else:
        grade = 'F'
        
    data = f"{name} {physics} {chemistry} {math} {english} {nepali} {total} {per} {grade}\n"
    result = result + data

print(result)

Enter n =  2
Enter name =  Ram
Enter physics marks =  44
Enter chemistry marks =  90
Enter math marks =  87
Enter english marks =  90
Enter nepali marks =  87
Enter name =  Shyam
Enter physics marks =  89
Enter chemistry marks =  90
Enter math marks =  87
Enter english marks =  89
Enter nepali marks =  90

Ram 44 90 87 90 87 398 79.6 F
Shyam 89 90 87 89 90 445 89.0 A

In [9]:
a = "Hello World"
for i in a:
    print(i,"Hello World" )

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World
  Hello World
W Hello World
o Hello World
r Hello World
l Hello World
d Hello World

In [49]:
for i in range(5):   #0,1,2,3,4
    print(i,"Helo World", end = "-")

0 Helo World-1 Helo World-2 Helo World-3 Helo World-4 Helo World-

In [11]:
print(len(a))

11

In [25]:
for i in range(len(a)):
    print(a[i])

H
e
l
l
o

W
o
r
l
d

In [35]:
i = 0
a = "Hello World"
l = len(a)
while i<l:
    print(a[i], end = "")
    i = i+1

Hello World

In [39]:
a = "Hello World. I am Python."
for i in a:
    if i !=".":
        print(i,end = "")

Hello World I am Python

In [51]:
a = "Hello World. I am Python."
for i in a:
    if i !=".":
        print(i,end = "")
    else:
        print(".")
        break

Hello World.

In [53]:
a = "Hello World. I am Python."
for i in a:
    if i !=".":
        print(i,end = "")
    else:
        continue

Hello World I am Python

In [1]:
# Seach in string

In [11]:
a = "Ram Shyam Hari Sita Gita Rita"
name = input("Enter name for search = ")
if name in a:
    print("Yes there is.")
    print(a.count(name))
else:
    print("There is no such name")

Enter name for search =  Ram

Yes there is.
1

In [19]:
a = "Ram Shyam Hari Sita Gita Rita"
print(a.upper())
print(a.lower())
"Ram".lower()

RAM SHYAM HARI SITA GITA RITA
ram shyam hari sita gita rita

'ram'

In [37]:
a = "Ram Shyam Hari Sita Gita Rita Ramesh".lower()
name = input("Enter name for search = ").lower()
if name in a:
    print("Yes there is.")
    print(a.count(name))
else:
    print("There is no such name")

Enter name for search =  Ram

Yes there is.
2

In [27]:
#replace
a = "Ram Shyam Hari Sita Gita Rita"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gita Rita

In [29]:
a = "Ram Shyam Hari Sita Gita Rita"
a = a.replace("Ram","")
print(a)

 Shyam Hari Sita Gita Rita

In [33]:
a = "Ram Shyam Hari Sita Gita Rita"
name = input("Enter name for search = ")
if name in a:
    print("Yes there is.")
    a = a.replace(name,"")
    print(a)
else:
    print("There is no such name")

Enter name for search =  Ram

Yes there is.
 Shyam Hari Sita Gita Rita